@charset 'utf-8';

body {
    padding-top: 20px;
    width: 375px;
    margin: 0 auto;
    background: rgb(255, 242, 223);
    box-sizing: border-box;
    text-align: center;
}

h1 {
    /* text-align: center; */
    /* font-size: 40px; */
}


fieldset {
    /* text-align: center; */
    margin: 60px 0 0;
    padding: 0;
    border: none;
    font-size: 28px;
}

fieldset legend {
    margin: 0 0 20px 0;
    font-weight: bold;
}

fieldset label {
    /* margin: 0 20px 0 0; */
}

fieldset input {
    display: inline-block;
    margin: 0 8px;
    transform: scale(2);    
}

#courtNumSelect {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 70px);
}

#playerNumSelect {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(4, 80px);
}


/* ボタン部分 */
.controller {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.controller.hidden {
    display: none;
}

.controller button {
    /* all: unset; */
    cursor: pointer;
    border: 1px solid #888;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 16px;
    background: #eee;
    box-shadow: 0 2px 2px #aaa;
    user-select: none;
}

.controller button:hover {
    opacity: .7;
}

.controller button:active {
    transform: translateY(2px);
    box-shadow: 0 0 2px #aaa ;
}

/* ゲーム表部分 */
#pairing {
    font-size: 28px;
    margin-top: 80px;
}

.game {
    margin: 40px auto 10px;
    text-align: center;
}

.game h3 {
    font-size: 24px;
    text-align: start;
    padding-left: 30px;
    margin: 10px;
}

span {
    font-size: 28px;
    display: inline-block;
    width: 60px;
    height:70px;
    line-height: 70px;
    text-align: center;
    margin: 8px 2px;
}

span.player {
    width: 60px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 3px;
    background: rgb(255, 251, 251);
}